Repository apache/pulsar-client-go, pull requests merged in 2020-10, with the labels that each got.

#374 Fixed buffer resize when writing request on connection
  pulsar/internal/connection.go
Labels: type/bug

#375 Fixed deadlock in DLQ ack processing
  pulsar/dlq_router.go
Labels: type/bug

#369 Update consumer_multitopic.go
  pulsar/consumer_multitopic.go
Labels: type/bug

#363 [Issue 342][consumer] add key shared policy support
  pulsar/consumer.go
  pulsar/consumer_impl.go
  pulsar/consumer_partition.go
  pulsar/key_shared_policy.go
  pulsar/key_shared_policy_test.go
Labels: area/consumer

#361 [Issue 350] fix panic on receiverQueueSize set to -1
  pulsar/consumer_impl.go
  pulsar/reader_impl.go
Labels: area/consumer

#376 Fix deadlock when connection closed
  go.mod
  pulsar/consumer_partition.go
  pulsar/consumer_regex_test.go
  pulsar/internal/commands.go
  pulsar/internal/connection.go
  pulsar/internal/lookup_service_test.go
  pulsar/internal/rpc_client.go
  pulsar/producer_partition.go
Labels: area/consumer

#378 Fix producer deadlock after write failure
  pulsar/internal/connection.go
Labels: type/bug

#368 Add schema logic in producer and consumer
  .golangci.yml
  go.mod
  go.sum
  integration-tests/license_test.go
  integration-tests/pb/build.sh
  integration-tests/pb/hello.pb.go
  integration-tests/pb/hello.proto
  pulsar/consumer.go
  pulsar/consumer_impl.go
  pulsar/consumer_partition.go
  pulsar/impl_message.go
  pulsar/message.go
  pulsar/primitiveSerDe.go
  pulsar/primitiveSerDe_test.go
  pulsar/producer.go
  pulsar/producer_impl.go
  pulsar/producer_partition.go
  pulsar/schema.go
  pulsar/schema_def_test.go
  pulsar/schema_test.go
Labels: area/schema
