Repository apache/pulsar-client-go, pull requests merged in 2023-07, with the labels that each got.

#1055 [fix] [issue 1051]: Fix inaccurate producer mem limit in chunking and schema
  pulsar/producer_partition.go
  pulsar/producer_test.go
Labels: type/bug, release/0.10.1, release/0.11.1

#1058 [fix] [issue 1057]: Fix the producer flush opertion is not guarantee to flush all messages
  pulsar/producer_partition.go
Labels: area/producer, type/bug

#1065 [fix] [issue 1064] Fix the panic when try to flush in DisableBatching=true
  pulsar/producer_partition.go
  pulsar/producer_test.go
Labels: type/bug, release/0.10.1, release/0.11.1

#1069 [fix][txn] Fix the transaction acknowledgement and send logic for chunk message
  pulsar/consumer_partition.go
  pulsar/transaction_test.go
Labels: area/consumer, type/bug, release/0.11.1

#1070 [fix] Close consumer resources if creation fails
  pulsar/consumer_partition.go
  pulsar/producer_partition.go
Labels: area/consumer, type/bug

#1062 Fix: client reconnected every authenticationRefreshCheckSeconds when using tls authentication
  pulsar/internal/connection.go
Labels: type/bug, area/security

#1066 [fix] Correct the SendAsync() description
  pulsar/producer.go
Labels: area/producer, type/enhancement
